{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Environmental Impact Calculator</h1>
          <p>This tool is made to let you calculate the environmental impact of your eating habits.</p>
          <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        </div>
</div>

<form class="form-inline my-2 my-lg-0">
	<select method="GET" action="/" id="categorySelected">
	    {% for select in selections %}
	    <option value= "{{select}}">{{select}}</option>"
	    {% endfor %}
	</select>
  <input id = "amountProvided" class="form-control mr-sm-2" type="text" name="text" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="AddPurchase()">Add</button>
</form>
<br>
<br>
<form>
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th></th>
              </tr>
        </thead>
      </table>
      <br>
</form>
<button class="btn btn-outline-success my-2 my-sm-0" onclick="SendData()">Submit</button>


<script>
    function AddPurchase() {
        var table = document.getElementById("myTable");
        var row = table.insertRow(-1);
        var category = row.insertCell(-1);
        var amount = row.insertCell(-1);
        var removeButtonSpot = row.insertCell(-1);
        var removeButton = document.createElement("button");
        removeButton.className = "close"
        removeButton.innerText = $('<div/>').html('&times;').text();
        removeButton.addEventListener("click", function () { RemoveRow(removeButton); }, false);
        removeButton.name = table.rows;
        
        category.innerHTML =  document.getElementById("categorySelected").value;
        amount.innerHTML = document.getElementById("amountProvided").value;
        document.getElementById("amountProvided").value = '';
        removeButtonSpot.appendChild(removeButton);
        event.preventDefault();
    };

    function SendData() {
        var table = document.getElementById("myTable");
        var obj = {};
        var row, rows = table.rows;
        for (var i=1, iLen=rows.length; i<iLen; i++) {
            row = rows[i];
            obj[row.cells[0].textContent] = Number(row.cells[1].textContent);
        }
        console.log(JSON.stringify(obj));
        $.post("/results", 
          {purchases: JSON.stringify(obj)},
          function() {window.location.replace("/view_list")});
    };

    function RemoveRow(buttonClicked) {
        $(buttonClicked).closest('tr').remove();
    };
    </script>
{% endblock %}